<div class="uk-margin uk-margin-auto@m uk-width-1-2@s  uk-card uk-card-body ">
    <form class="uk-form-stacked">
        <fieldset class="uk-fieldset">
 
            <div *ngIf="!id_update; then cadastrar else atualizar"></div>
            <ng-template #cadastrar><legend class="uk-legend">Cadastrar Cliente</legend></ng-template>
            <ng-template #atualizar><legend class="uk-legend">Atualizar Cliente</legend></ng-template>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Nome</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" [(ngModel)]="cliente.name" id="name" name="name" required
                        placeholder="Nome do cliente...">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Nascimento</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="date" [(ngModel)]="cliente.birth_at" id="birth_at" name="birth_at"
                        required placeholder="09/09/1997">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="email" [(ngModel)]="cliente.email" id="email" name="email" required
                        placeholder="cliente@gmail.com">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Telefone</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="tel" [(ngModel)]="cliente.phone" id="phone" name="phone" required
                        placeholder="(46) 99129-5590">
                </div>
            </div>

        </fieldset>
    </form>
    <div *ngIf="submitted">
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Cliente Cadastrado com Sucesso</p>
        </div>
    </div>
    <div class="uk-margin">
        <button (click)="savarCliente()" class="uk-button uk-width-1-1 uk-button-primary"><div *ngIf="!id_update; else atualiza">Salvar Cadastro</div></button>
        <ng-template #atualiza>Atualizar Cliente</ng-template>
    </div>
    <div class="uk-margin">
        <button class="uk-button uk-width-1-1 uk-button-default" (click)="voltar()">Voltar</button>
    </div>
</div>